#counter {
  display: flex; 
  align-items: center;
  justify-content: center;
}

h2, h3 {
  text-align: center;
}
#count-display {
  padding: 10px;
}

.inputs {
  text-align: center;
}

ul {
  text-align: center;
  padding: 0; 
}

/* button  */
.button {
  padding: 10px; 
  background-color:rgb(67, 77, 218); 
  margin: 5px; 
  border-radius: 5px; 
  font-size: 12px; 
  text-align: center; 
  box-shadow: 0 4px rgb(40, 65, 204);  
}
.button:hover {
  background-color: rgb(115, 121, 207);
  transition: background-color 0.5s; 
  font-weight: bold
}

.button:not(:hover) {
  background-color:rgb(67, 77, 218);
  transition: background-color 0.5s; 
  font-weight: normal; 
}


.button:active {
  box-shadow: 0 2px rgb(10, 20, 163); 
  transform: translateY(2px); 
}